<div class="card-container">
    <div class="card-image">
        <img src="../../../../../../assets/technology-icons/design.svg" alt="">
    </div>
    <h2>trainingName</h2>
    
    <div class="attendance">
        <p>Who Can Attend?</p>
        <h3 class="fw-500">department</h3>
    </div>
    <div class="training-details">
        <div class="details-heading">
            <p>
                Start Date
            </p>
            <p>
                End Date
            </p>
            <p>
                Seats
            </p>
        </div>
        <div class="details-subheading">
            <p>
                startDate
            </p>
            <p>
                endDate
            </p>
            <p>
                seats
            </p>
        </div>

    </div>
    <div class="buttons">

        <button class="view-details" (click)="viewDetails()" >View Details</button>
        <button class="enroll-training" (click)="enrollTraining()"  >Enroll Training</button>

    </div>
</div>