.container{
    margin: 2.5%;
    height: 78vh;
    h2{
        color:blue
    }
    app-table-listing{
        button{
            
        }
    }
}

:host ::ng-deep{
    .listing-container{
            border: 1px solid lightgray;
            padding: 3% 2%;
            border-radius: 10px;
            background-color: white;
            
        }
        .mat-paginator-page-size{
            top:-38px !important;
        }
       
}