@import "./../../../../../scss/common";
.container{
    header{
        @include flex(center,space-between);
        gap:1rem;
        padding: 2% 17% 0% 17%;
        @media (max-width:700px) {
            padding: 2% 4% 0% 4%;
        }
        .leave-head{
            @include flex(center,flex-end);
            color:#9c8686;
            font-size:16px;
        }
    }
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: red;
    }

    .progress{
        padding:0% 20%;
        @media (max-width:700px) {
            padding: 0 2%;
        }
        @include flex(center,center);
        .button-border{
            @include flex(center,center);
            padding: 5px;
            @include sizing(2rem,2rem);
            border-radius: 50%;
            background-color: #ffc3c3;
            button{
                @include sizing(14px,14px);
                border-radius: 50%;
                border: none;
                background-color:$red
            }
        }
        .mat-progress-bar{
            height: 8px;
        } 
    }
    .leave-container{
        display: grid;
        grid-template-columns: 35% 20% 30%;
        column-gap: 5%;
        padding: 2% 2%;
        @media (max-width:1000px) {
            grid-template-columns: 48% 48%;
            column-gap: 4%;
        }   
        @media (max-width:700px) {
            grid-template-columns: 100%;
        }
        .leave-details{
            background-color: $white;
            border-radius: 2%;
            padding-bottom: 2rem;
            padding-top: 0.5rem;
            display: grid;
            row-gap: 1rem;
            h2{
                color:$blue;
                font-size: 1.3rem;
                border-bottom: 1px solid $border-bottom-color;
                padding: 0.5% 6%;
            }
            table{
                margin:auto;
                width: 90%;
                margin-bottom: 10px;
                tr:nth-child(even) {
                     background-color: #fafafa;
                }
                tr:nth-child(odd) {
                    background-color: #fefefe;
                }
                
                tr{
                    border-top: 1px solid lightgray;
                    display: flex;
                    justify-content: space-between;
                    padding: 12px 12px;
                    th{
                        font-weight: 400;
                    }
                }
                .action-row{
                    border-bottom: 1px solid $lightgray;
                    button{
                        background-color: white;
                        border: 1px solid $skyblue;
                        cursor: pointer;
                        mat-icon{
                            color:skyblue
                        }
                    }
                    button:hover{
                        background-color: $skyblue;
                        mat-icon{
                            color:$white
                        }
                        transition: 0.3s;
                    }
                }
            }
            h3,p{
                width: 90%;
                margin: auto;
                font-weight: 500;
            }
            .remarks{
                width: 90%;
                margin: auto;
                font-weight: 500;
            }
        }
        .approval-status{
            background-color: $white;
            height: 9rem;
            border-radius: 10px;
            .approval-container{
                padding: 4%;
                width: 32rem;
                h2{
                    color:$blue;
                    border-bottom: 1px solid $border-bottom-color;
                }
            }


        }

    }


}
