<section>
    <div class="head">
      <h1>Trainee Project Angular</h1>
      <div class="right_box">
        <div class="internal">
          <h2>Project Tags/label</h2>
          <mat-icon class="mat-18" (click)="openDialog()">add_circle</mat-icon>
        </div>
      </div>
    </div>
    <div class="tab">
      <mat-tab-group>
        <mat-tab label="Overview">
          <app-overview></app-overview>
  
        </mat-tab>
        <mat-tab label="Notes">
          <app-notes></app-notes>
           </mat-tab>
        <mat-tab label="DSR Reports">
          <app-dsr-reports></app-dsr-reports>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
  