<div class="card">
    <div class="person-image">
        <img src="../../../../../assets/usermale.jpg" alt="">
    </div>
    <div class="person-name">
       <h1>
           {{employeeData.name}}
       </h1> 
        
    </div>
    <div class="person-info">
        {{employeeData.designation}} -
        {{employeeData.department}}
    </div>
    <div class="email">
           @ {{employeeData.email}}
    </div>
    <div class="birthday">
            <mat-icon>cake</mat-icon>
            {{employeeData.birthday}}
    </div>
</div>