.container{
    padding: 2%;
    h2{
        color:blue;
    }
    .table-wrapper{
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        border: 1px solid lightgray;
    }
}