<div class="formfield">
    <mat-form-field appearance="outline" >
      <mat-label>{{data.placeholder}}</mat-label>
      <mat-select [formControl]="myControlName" (selectionChange)="onSelection()">
        <input [formControl]="myControl"  class="filter"  >
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item.value" [disabled]="item=='no results Found'">
          {{item.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.myControlName?.hasError('required')" class="alertMessage">
        <span class="errorMessage"> {{data.label}}  {{errorMessage.required}}</span>
      </mat-error>
    </mat-form-field>
</div>