<ng-container *ngFor="let item of gallery_array">
    <ng-template #listOfDivs>

        <div class="gallery-home">
            <div class="gallery-image">
                <img [src]="'../../../../../assets/gallery_images/' + item.gallery_image" alt="">
            </div>
            <div class="gallery-name">
                <p>
                    {{item.gallery_name}} 
                </p>
                <div>
                    <button (click)="openGallery(item.gallery_id)" >View</button>
                </div>
            </div>
        </div>    
    </ng-template>
</ng-container>

<ng-container *ngIf="render_child">
    <app-custom-carousel [listToShow]="dataSource" [carouselConfigData]="galleryData"
        [gridConfig]="app_gallery_gridConfig" [carouselPointNumbers] = "true" >
    </app-custom-carousel>
</ng-container>