<div class="container">
    <div class="heading">
        Cancel Leave
    </div>
    <div class="note">
        <mat-form-field class="example-full-width" appearance='fill'>
            <mat-label>Please enter note* </mat-label>
            <input matInput placeholder="" >
          </mat-form-field>
    </div>
    <div class="buttons-wrapper mb-10">
        <div class="cancel-button">
            <button>Cancel</button>
        </div>
        <div class="submit-button">
            <button>Submit</button>
        </div>
    </div>
</div>