<div class="col-12">
    <div class="input-forms">
        <mat-label class="fw-600" >{{dropdown.label}}</mat-label>
        <mat-form-field appearance="outline">
            <mat-select [placeholder]="dropdown.label" [formControl]="dropdown.control" (selectionChange)="dropdownSelect($event.value)">
              <input [formControl]="myControl"  class="filter"  >
              
              <mat-option *ngFor="let item of filteredOptions | async" [value]="item.value">{{item.viewValue}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
