<div class="container">
    <h2>Ayush Singh | DSR | 03, Apr 2023</h2>
    <div class="table-data">
        <table>
            <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Dsr</th>
                <th>Status</th>
                <th>PM Approval</th>
                <th>AM Approval</th>
                <th>RM Approval</th>
                <th>Final Approval</th>
                <th>Logged Hours</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>

                <td class="project-name">
                     <b>
                    {{obj.project_name}}
                    </b>
                    <br>
                    {{obj.date}}
                </td>
                    
                <td>{{obj.dsr_data}}</td>
                <td>{{obj.status}}</td>
                <td>{{obj.pm_approval}}</td>
                <td>{{obj.am_approval}}</td>
                <td>{{obj.rm_approval}}</td>
                <td>{{obj.final_approval}}</td>
                <td>{{obj.logged_hours}}</td>
                <td>
                    <button  (click)="editDSR()" >
                        <mat-icon >edit</mat-icon>

                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
