@import "../../../../../scss/common";
.container{
    margin:1.5%;
    background-color:$white;
    border-radius: 10px;
    h2{
        color:$blue;
        padding: 1.1%;
        border-bottom: 1px solid $lightgray;
    }
    .table-data{
        padding: 1.5%;
        overflow-x: auto;
        table{
            min-width: 60rem;
            width: 100%;
        }
        table, tr,td,th{
            border: 1px solid $lightgray;
            border-collapse:collapse;
            padding: 1rem;
            text-align: left;
        }
        th{
            font-weight: 400;
        }
        td{
            button{
                @include blue-button(2rem,2rem)
            }
        }
        .project-name{
                min-width: 14rem;
        }
    }
}