section{
    header{
      h1{
        font-size: 30px;
      }
      border-bottom: 1px solid rgb(199, 190, 190);
  
    }
    .main{
      border-bottom: 2%;
      margin-top: 2%;
      mat-form-field{
        width: 100%;
      }
    }
  .action_buttons{
    button{
      color:white;
      background-color: #3246d3;
      margin: 2px;
    }
  }
  }