section{
    .main_container{
      background-color: white;
      padding: 2%;
      margin-top: 2%;
      .content{
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      column-gap: 2%;
      .date{
        display: flex;
        flex-direction: column;
      }
      .buttons-wrapper{
        margin-top: 40px;
        button{
          color: white;
          background-color: #3246d3;
          margin: 1%;
        }
      }
    }
  
  }
  .main_data{
    padding: 2%;
    margin-top: 2%;
    background-color: white;
    .list{
      h1{
        color: #3246d3;
      }
  
    }
    h2{
      color: #3246d3;
    }
  
    button{
      border-radius: 5px;
      box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
      background-color: #3246d3;
      min-width: 80px;
      color: #fff;
      font-size: 25px;
      font-weight: 600;
   margin: 2%;
   padding: 2%;
    }
    .info{
      h1{
        color: #3246d3;
      }
      .item{
        display: grid;
        grid-template-columns: 30% 10%;
        column-gap: 60%;
        color: #3246d3;
        font-size: 20px;
        .data{
          margin: 3%;
        }
  
      }
    }
  
  }
  }
  