<div class="forget-pass-main" @fadeIn>
    <div class="forget-pass-main-top">
        <div class="asset-image">
            <img mat-card-image src="../../../../assets/applogo.png" alt="404 Image Not Found">
        </div>

        <p class="text-muted">Reset Your Password</p>
        <hr class="text-muted">

            <form [formGroup]="recoverPasswordForm">
                <div class="form-input-field">
                    <mat-label class="sub-text">
                        We will send you a link to reset password.
                    </mat-label>

                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Enter Your Email" formControlName="email">
                        <mat-error>
                            {{recoverPasswordForm | showError: 'email': 'Email'}}
                        </mat-error>
                    </mat-form-field>
                </div>
                
                
                <button class="pointer" (click)="recoverPassword()" >RECOVER PASSWORD</button>
            </form>

    </div>
    <div class="forget-pass-main-bottom">
        <button class="pointer" (click)="toLogin()" >BACK TO LOGIN </button>
    </div>

    <div class="login-bottom-text">
        <p class="text-muted">
            2023 © Appinventiv HR System
        </p>
    </div>
</div>