@import "../../../../scss/common";
.forget-pass-main {
    background-color: white;
    @include flex($a-item: center, $j-cont: center);
    flex-direction: column;
    line-height: 3.5rem;
    .forget-pass-main-top {
        line-height: 3rem;
        padding: 2.9rem;
        @include flex($a-item: stretch, $j-cont: center);
        flex-direction: column;
        p{
            text-align: center;
            font-size: 1rem;
            margin-bottom: 0px !important;
        }
        hr{
            width: 100%;
        }
        form{
            @include form-field-background-color(white);
            line-height: 2rem;
        }
        button{
            @include primary-button($color:$primary,$bg_color:white);
            width: 100%;
            border:1px solid $primary;
            padding: 8px;
            font-size: 12px;
        }
        button:hover{
            @include primary-button($color:white,$bg_color:$primary_light);
            transition: 0.2s;
            border:1px solid $primary;
        }
        @media (max-width:650px) {
            padding: 1.2rem;   
        }
    }
    .forget-pass-main-bottom {
        width: 100%;
        button {
            @include primary-button($color:$primary,$bg_color:white);
            border:1px solid $primary;
            margin-top: 0.5rem;
            height: 35px;
            font-weight: 500;
            width: 100%;
        }
        button:hover {
            @include primary-button($color:white,$bg_color:$primary_light);
            transition: 0.2s ease-in;
            border:1px solid $primary;
            transition: 0.4s;
        }
    }
    .login-bottom-text {
        width: 100%;
        .text-muted {
            text-align: center;
            margin-bottom: 0px !important;
        }
    }
}