@import "../../../../scss/common";

.body {
    display: grid;
    grid-template-columns: 99%;
    row-gap: 10px;

    .create-ticket {
        background-color: $white;
        margin-top: 10px;
        margin: 1% 2%;
        border-radius: 10px;
        .heading {
            padding: 1% 2%;
            @include flex(center, space-between);
            h2 {
                margin-bottom: 2px;
                color:$blue;
            }
            button {
                display: block;
                border: 1px solid $primary;
                background-color: #00abff;
                color: $white;
                padding:1px 5px;
                &:hover{
                    transition: 0.4s;
                    cursor: pointer;
                    background-color: white;
                    color:$blue;
                }
                p{
                    margin-bottom: 0px;
                    @include flex(center, center);
                    span {
                        font-size: 14px;
                    }
                }
            }
            
        }
        .create-ticket-body {
            border-top: 1px solid $border-bottom-color;
            display: grid;
            grid-template-columns: 44% 54%;
            column-gap: 2%;
            padding: 1% 1.5% 5% 1.5%;
            justify-content: center;
            @media (max-width:700px) {
                grid-template-columns: 90%;
            }
            .ticket-details {
                flex-direction: column;
                padding: 1% 3%;
                display: flex;
                align-items: stretch;
                .input-field {
                    width: 100%;

                    
                    mat-form-field {
                        width: 100%;
                    }
                    ::ng-deep .mat-form-field-wrapper {
                        margin: 0;
                    }
                   
                }
            }
            
            button{
                @include primary-button($white,#1da81b,14px,32px,4rem);
                border-radius: 4px;
                margin-top: 10px;
                margin-left: 2%;
            }
        }
    }
    .container-table {
        margin: 1% 2%;
        border-radius: 10px;
        background-color: $white;
        h2{
            margin: 10px 2%;
            color: $blue;
            font-weight: 500;
            border-bottom: 1px solid $border-bottom-color;

        }
        
        
    }
    .footer{
        margin-top: 15%;

    }
}
    