<div class="container">
    <h2>Floating Leave</h2>
    <div class="available-holiday">
        <h3>Availed Floating Holiday</h3>
        <table>
            <tr>
                <th>
                    S. No.
                </th>
                <th>
                    Event Name    
                </th>
                <th>
                    Date
                </th>
            </tr>
            <tr>
                <td>1</td>
                <td>Gurupurab</td>
                <td>27th Nov, 2023</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Janmashtami</td>
                <td>7th Sep, 2023</td>
            </tr>
        </table>
    </div>
</div>