
<div class="main">
    <div class="close-icon pointer" mat-dialog-close>
        <img src="../../../../../../assets/next-prev-icons/close.svg" alt="">
    </div>
    <section class="heading">
        <div class="heading-left">
            <img src="../../../../../../../assets/usermale.png" alt="">
        </div>
        <div class="heading-right">
            <h2>Bidaboo App Team</h2>
            <p>Bidaboo Squad Member</p>
        </div>
    </section>
    <br><br><br>
    <section class="body">
        Hello Team, <br>

        Hope you are well and safe. <br>
        
        Appinventiv is in a continuous phase of evolution. We are focused and aligned with the growth model of success. The organisation is delighted to have a harmonious team like yours wherein each individual did their best to achieve a grand success of the project as a team.
        
        It gratifies us to announce that we are awarding you with "THE SQUAD AWARD" a half-yearly recognition given for your team milestones achieved.
        
        We at Appinventiv Technologies expect that your team will continue to put in your best efforts towards the performance of your duties in the future and achieve more significant milestones with us.
        
        Thank you for your contribution to Appinventiv Technologies.
        
        Congratulations and keep the spirit high!
        
    </section>
    <br><br><br>
    <section class="ending-note">

    <strong>   
        SUDEEP SRIVASTAVA
    </strong>     
    </section>
</div>