
<div class="container" [formGroup]="changePasswordForm" >
    <h2>Employee Force Change Password    </h2>
    <div class="password-change">
        <div class="input" >
            <mat-label class="fw-600" >Current Password</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="current_password" (keydown)="noSpace($event)" >
                <mat-error>
                    {{changePasswordForm | showError : 'current_password' : 'Current Password' }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="input">
            <mat-label class="fw-600">New Password</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="new_password" (keydown)="noSpace($event)">
                <mat-error>
                    {{changePasswordForm | showError : 'new_password' : 'New Password' }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="input">
            <mat-label class="fw-600">Confirm Password</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="confirm_password" (keydown)="noSpace($event)" >
                <mat-error>
                    {{changePasswordForm | showError : 'confirm_password' : 'Confirm Password' }}
                </mat-error>
                
            </mat-form-field>
        </div>
        <div class="button">
            <button (click)="resetPassword()" >Reset password</button>
        </div>
    </div>
</div>