@import "../../../../../scss/common";
.container{

    h2{
        padding: 1% 2%;
        width: 100%;
        color: $blue;
        border-bottom: 1px solid $border-bottom-color;
    }
    .password-change{
        display: grid;
        padding: 1% 2%;
        grid-template-columns: 100%;
        @include input-shadow();

        .input{
            @include flex(flex-start,center);
            flex-direction: column;
            width: 100%;
            .full-width{
                width: 100%;
            }
        }
        .button{
            @include flex(center,flex-end);
            button{
                @include blue-button($height: 2.5rem, $width: 15%);
                border-radius: 4px;
                font-size: 15px;
            }
        }
    }
}