<section>
    <div class="content_container">
      <div class="row1">
       <h3>Trainee project Angular</h3>
        <mat-icon>more_vert</mat-icon>
      </div>
      <div class="person">
  
        <mat-icon>account_circle</mat-icon>
        <p>1</p>
      </div>
      <p class="in_progress">In Progress</p>
      <p>no milestone defined</p>
  
      <div class="main">
  
        <div class="info">
  
          <mat-icon>groups</mat-icon>
          <p>3 Resourses</p>
        </div>
      N/A hours
      <p></p>
      </div>
      <div class="imgList">
        <img src="https://dashboard.appinventiv.com/uploads/profile/default_male.jpg">
         <img src="https://dashboard.appinventiv.com/uploads/profile/default_male.jpg">
         <img src="https://dashboard.appinventiv.com/uploads/profile/default_female.jpg">
         <img src="https://dashboard.appinventiv.com/uploads/profile/default_female.jpg">
  
  
      </div>
      <div>
        <h2>Project Completed</h2>
        <p>0</p>
      </div>
    </div>
  </section>
  